html {
  height: 100vh;
}
#timeInterval {
  text-align: center;
  font-size: 100px;
  font-weight: 700;
  height: 200px;
  line-height: 200px;
}
#app {
  display: flex;
  justify-content: center;
  align-content: center;
}
